html,
body {
  color: rgb(68, 68, 68);
}

.header {
  background: rgb(41, 41, 41);
  padding: 10px;
}

.logo {
  width: 60px;
}

button {
  padding: 8px 30px;
  border-style: none;
  border: 1px solid gray;
}

.btn-clear {
  background: white;
  color: rgb(54, 54, 54);
}

.btn-add {
  background: rgb(32, 32, 32);
  color: white;
  margin-left: 20px;
}
